{% extends "setup-general.sh.template" %}

{% block master %}
echo "----- Populating slaves file"

echo -e '
{%- for slave in slaves -%}
{{slave}}\n
{%- endfor -%}
' | tee /etc/hadoop/slaves


echo "----- Populating master file"

echo {{master_hostname}} | tee /etc/hadoop/masters


echo "----- Formatting Hadoop NameNode"

su -c 'hadoop namenode -format' hadoop
{% endblock %}
