*.egg-info
*.egg[s]
*.log
*.py[co]
.coverage
.testrepository
.tox
.venv
AUTHORS
ChangeLog
build
cover
develop-eggs
dist
doc/build
doc/html
eggs
etc/sahara.conf
etc/sahara/*.conf
etc/sahara/*.topology
sahara/tests/integration/configs/itest.conf
sdist
target
tools/lintstack.head.py
tools/pylint_exceptions
