*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
.DS_Store
Thumbs.db
.venv
.idea
out
target
*.iml
*.ipr
*.iws
doc/html
doc/source/apidoc
doc/source/api
doc/build
*.db
.coverage
nosetests.xml
pylint-report.txt
etc/local.cfg
etc/savanna/savanna.conf
etc/savanna.conf
AUTHORS
ChangeLog
