*.egg-info
*.egg[s]
*.log
*.py[co]
.coverage
.testrepository
.tox
.venv
.idea
AUTHORS
ChangeLog
build
cover
develop-eggs
dist
doc/build
doc/html
eggs
etc/sahara.conf
etc/sahara/*.conf
etc/sahara/*.topology
sdist
target
tools/lintstack.head.py
tools/pylint_exceptions
doc/source/sample.config

# Files created by releasenotes build
releasenotes/build
