# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Sergey Lukjanov <slukjanov@mirantis.com> <me@frostman.ru>
Dmitry Mescheryakov <dmescheryakov@mirantis.com>
Nikita Konovalov <nkonovalov@mirantis.com>
Vadim Rovachev <vrovachev@mirantis.com>
Xiang Hui <xianghui@cn.ibm.com>
Ivan Berezovskiy <iberezovskiy@mirantis.com>
Denny Zhang <denny@unitedstack.com>
Kazuki Oikawa <oikawa.kazuki@lab.ntt.co.jp>
Andrey Pavlov <apavlov@mirantis.com>
Sofiia Kostiuchenko <skostiuchenko@hortonworks.com>
Yevgen Runts <yevgen_runts@epam.com> <yevhenrunts@gmail.com>
