include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include sahara/db/migration/README
include sahara/db/migration/alembic.ini
include sahara/db/migration/alembic_migrations/env.py
include sahara/db/migration/alembic_migrations/script.py.mako
include sahara/db/migration/alembic_migrations/versions/*.py
include sahara/db/migration/alembic_migrations/versions/README

recursive-include sahara/locale *

include sahara/plugins/cdh/resources/cdh_config.py
include sahara/plugins/cdh/resources/*.sh
include sahara/plugins/cdh/resources/*.json
include sahara/plugins/vanilla/hadoop2/resources/*.sh
include sahara/plugins/vanilla/hadoop2/resources/*.sql
include sahara/plugins/vanilla/hadoop2/resources/*.template
include sahara/plugins/vanilla/v1_2_1/resources/*.sh
include sahara/plugins/vanilla/v1_2_1/resources/*.sql
include sahara/plugins/vanilla/v1_2_1/resources/*.xml
include sahara/plugins/vanilla/v2_3_0/resources/*.xml
include sahara/plugins/vanilla/v2_4_1/resources/*.xml
include sahara/plugins/hdp/versions/version_1_3_2/resources/*.template
include sahara/plugins/hdp/versions/version_1_3_2/resources/*.json
include sahara/plugins/hdp/versions/version_1_3_2/resources/*.sh
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.template
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.json
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.sh
include sahara/plugins/spark/resources/*.xml
include sahara/plugins/spark/resources/*.sh
include sahara/plugins/spark/resources/*.template
include sahara/resources/*.heat
include sahara/service/edp/resources/*.xml
include sahara/service/edp/resources/launch_command.py
include sahara/swift/resources/*.xml
include sahara/tests/unit/plugins/vanilla/hadoop2/resources/*.txt
include sahara/tests/unit/resources/*.heat
include sahara/tests/unit/resources/*.xml
include sahara/tests/unit/resources/*.txt
include sahara/topology/resources/*.xml

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
