include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include sahara/db/migration/README
include sahara/db/migration/alembic.ini
include sahara/db/migration/alembic_migrations/env.py
include sahara/db/migration/alembic_migrations/script.py.mako
include sahara/db/migration/alembic_migrations/versions/*.py
include sahara/db/migration/alembic_migrations/versions/README
include sahara/db/templates/README.rst

recursive-include sahara/locale *
recursive-include sahara/db/migration/alembic_migrations *

recursive-include sahara/plugins/default_templates *.json
include sahara/plugins/ambari/resources/*.json
include sahara/plugins/default_templates/template.conf
include sahara/plugins/cdh/v5/resources/cdh_config.py
include sahara/plugins/cdh/v5/resources/*.sh
include sahara/plugins/cdh/v5/resources/*.json
include sahara/plugins/cdh/v5/resources/*.sql
include sahara/plugins/cdh/v5_3_0/resources/cdh_config.py
include sahara/plugins/cdh/v5_3_0/resources/*.sh
include sahara/plugins/cdh/v5_3_0/resources/*.json
include sahara/plugins/cdh/v5_3_0/resources/*.sql
include sahara/plugins/cdh/v5_4_0/resources/cdh_config.py
include sahara/plugins/cdh/v5_4_0/resources/*.sh
include sahara/plugins/cdh/v5_4_0/resources/*.json
include sahara/plugins/cdh/v5_4_0/resources/*.sql
include sahara/plugins/vanilla/hadoop2/resources/*.sh
include sahara/plugins/vanilla/hadoop2/resources/*.sql
include sahara/plugins/vanilla/hadoop2/resources/*.template
include sahara/plugins/vanilla/v2_6_0/resources/*.xml
include sahara/plugins/vanilla/v2_7_1/resources/*.xml
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.template
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.json
include sahara/plugins/hdp/versions/version_2_0_6/resources/*.sh
include sahara/plugins/mapr/resources/*.sh
include sahara/plugins/mapr/services/hbase/resources/*.json
include sahara/plugins/mapr/services/hive/resources/*.xml
include sahara/plugins/mapr/services/httpfs/resources/*.json
include sahara/plugins/mapr/services/mapreduce/resources/*.json
include sahara/plugins/mapr/services/maprfs/resources/*.conf
include sahara/plugins/mapr/services/mysql/resources/*.sql
include sahara/plugins/mapr/services/oozie/resources/*.json
include sahara/plugins/mapr/services/swift/resources/*.jar
include sahara/plugins/mapr/services/swift/resources/*.json
include sahara/plugins/mapr/services/yarn/resources/*.json
include sahara/plugins/spark/resources/*.xml
include sahara/plugins/spark/resources/*.sh
include sahara/plugins/spark/resources/*.template
include sahara/service/edp/resources/*.xml
include sahara/service/edp/resources/*.jar
include sahara/service/edp/resources/launch_command.py
include sahara/swift/resources/*.xml
include sahara/tests/scenario/testcase.py.mako
recursive-include sahara/tests/scenario/templates *.json
include sahara/tests/unit/plugins/vanilla/hadoop2/resources/*.txt
include sahara/tests/unit/resources/*.heat
include sahara/tests/unit/resources/*.xml
include sahara/tests/unit/resources/*.txt
include sahara/topology/resources/*.xml

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
