alembic>=0.6.2
Babel>=1.3
eventlet>=0.13.0
Flask>=0.10,<1.0
iso8601>=0.1.9
jsonschema>=2.0.0,<3.0.0
lockfile>=0.8
oslo.config>=1.2.1
oslo.messaging>=1.3.0
paramiko>=1.13.0
pbr>=0.6,!=0.7,<1.0
requests>=1.1
python-cinderclient>=1.0.7
python-keystoneclient>=0.9.0
python-novaclient>=2.17.0
python-swiftclient>=2.0.2
python-neutronclient>=2.3.5,<3
python-heatclient>=0.2.9
six>=1.7.0
stevedore>=0.14
SQLAlchemy>=0.8.4,!=0.9.5,<=0.9.99
WebOb>=1.2.3
