hacking>=0.8.0,<0.9

MySQL-python
coverage>=3.6
discover
docutils==0.9.1
fixtures>=0.3.14
mock>=1.0
oslosphinx
psycopg2
pylint==0.25.2
sphinx>=1.1.2,<1.2
sphinxcontrib-httpdomain
sqlalchemy-migrate>=0.8.2,!=0.8.4
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.34
unittest2

python-saharaclient>=0.6.0
