#!/bin/bash

echo "----- Setting up Hadoop enviroment config"

{% for envconf in env_configs -%}
  echo "{{envconf}}" >> /tmp/hadoop-env.sh
{% endfor %}

cat /etc/hadoop/hadoop-env.sh >> /tmp/hadoop-env.sh
mv /tmp/hadoop-env.sh /etc/hadoop/hadoop-env.sh


echo "----- Creating directories permissions"

#TODO(aignatov): Need to put here /mnt via args in the future when HDFS placement feature will be ready
chown -R hadoop:hadoop /mnt
chmod -R 755 /mnt

{% block master %}
{% endblock %}