[COMMON]

OS_USERNAME = 'admin'
OS_PASSWORD = 'admin'
OS_TENANT_NAME = 'admin'
OS_TENANT_ID = 'c5853430df5840a18ada297baae76184'
OS_AUTH_URL = 'http://127.0.0.1:5000/v2.0'
SAHARA_HOST = '127.0.0.1'
FLAVOR_ID = 2
USER_KEYPAIR_ID = 'sahara-key-pair'
PATH_TO_SSH_KEY = '/home/ubuntu/.ssh/id_rsa'
FLOATING_IP_POOL = 'net04_ext'
NEUTRON_ENABLED = True
INTERNAL_NEUTRON_NETWORK = 'net04'

[VANILLA]

IMAGE_NAME = 'sahara-vanilla-image'
SKIP_CLUSTER_CONFIG_TEST = True

[HDP]

IMAGE_ID = 'f7de0ea9-eb4d-4b63-8ed0-abcf11cfaff8'
SKIP_ALL_TESTS_FOR_PLUGIN = False

[MAPR]
IMAGE_ID = 'sahara-mapr-image'
SKIP_ALL_TESTS_FOR_PLUGIN = False