PLUGIN_NAME = 'hdp'

IMAGE_ID = '42def'  # ID for instance image

NODE_USERNAME = 'username'  # username for master node

HADOOP_VERSION = '1.3.0'
HADOOP_USER = 'hadoop'
HADOOP_DIRECTORY = '/usr/lib/hadoop'
HADOOP_LOG_DIRECTORY = '/hadoop/mapred/userlogs'