[data_processing]

# Timeout (in seconds) to wait for cluster deployment.
#cluster_timeout=3600

# Timeout (in seconds) between status checks.
#request_timeout=10

# Name of IP pool.
#floating_ip_pool=

# Name of the private network that provides internal connectivity.
#private_network=

# ID of an image which is used for cluster creation.
#fake_image_id=

# ID of a flavor.
#flavor_id=

# Version of python-saharaclient
#saharaclient_version=1.1

# Sahara url as http://ip:port/api_version/tenant_id
#sahara_url=

# Username which is used to log into remote nodes via SSH.
#ssh_username=
