OS_USERNAME = 'admin' # username for nova
OS_PASSWORD = 'password' # password for nova
OS_TENANT_NAME = 'admin'
OS_AUTH_URL = 'http://192.168.1.1:35357/v2.0/' # URL for keystone

SAVANNA_HOST = '192.168.1.1' # IP for Savanna API
SAVANNA_PORT = '8386' # port for Savanna API

IMAGE_ID = '42' # ID for instance image
FLAVOR_ID = '42'

NODE_USERNAME = 'username' # username for master node

CLUSTER_NAME_CRUD = 'cluster-name-crud' # cluster name for crud operations
CLUSTER_NAME_HADOOP = 'cluster-name-hadoop' # cluster name for hadoop testing
CLUSTER_NAME_SWIFT = 'cluster-name-swift' # cluster name for swift testing

TIMEOUT = 15 # cluster creation timeout (in minutes)

HADOOP_VERSION = '1.1.2'
HADOOP_DIRECTORY = '/usr/share/hadoop'
HADOOP_LOG_DIRECTORY = '/mnt/log/hadoop/hadoop/userlogs'

SSH_KEY = 'ssh_key' # ssh public key which Savanna transfers to nodes of cluster for access of users to virtual machines via key
PATH_TO_SSH = '/home/user/.ssh/id_rsa' # path to folder where put id_rsa key

PLUGIN_NAME = 'vanilla'

JT_PORT = 000001 # port for process 'jobtracker'
NN_PORT = 000002 # port for process 'namenode'
TT_PORT = 000003 # port for process 'tasktracker'
DN_PORT = 000004 # port for process 'datanode'

ENABLE_SWIFT_TESTS = True
