[COMMON]

# Username for OpenStack
OS_USERNAME = 'admin'
# Password for OpenStack
OS_PASSWORD = 'admin'
# Tenant name for OpenStack
OS_TENANT_NAME = 'admin'
# URL for OpenStack
OS_AUTH_URL = 'http://127.0.0.1:35357/v2.0/'

# Host for Savanna API
SAVANNA_HOST = '127.0.0.1'


