[DEFAULT]

# REST API config
#port=8080

# Address and credentials that will be used to check auth tokens
#os_auth_host=openstack
#os_auth_port=35357
#os_admin_username=admin
#os_admin_password=nova
#os_admin_tenant_name=admin

When set to false, Savanna uses only internal IP of VMs.
When set to true, Savanna expects OpenStack to auto-
assign floating IPs to cluster nodes. Internal IPs will
be used for inter-cluster communication, while floating
ones will be used by Savanna to configure nodes. Also
floating IPs will be exposed in service URLs.
#use_floating_ip=True

plugins=vanilla

[plugin:vanilla]
plugin_class=savanna.plugins.vanilla.plugin:VanillaProvider

[database]

# URL for sqlalchemy database (string value)
connection=sqlite:////tmp/savanna-server.db
