[DEFAULT]

# REST API config
#port=8386

# Address and credentials that will be used to check auth tokens
#os_auth_host=127.0.0.1
#os_auth_port=35357
#os_admin_username=admin
#os_admin_password=nova
#os_admin_tenant_name=admin

# If set to True, savanna will use floating IPs to
# communicate with instances. To make sure that all
# instances have floating assigned in Nova Network
# set "auto_assign_floating_ip=True" in nova.conf.
# If Neutron is used for networking, make sure that
# all Node Groups have "floating_ip_pool" parameter
# defined.
#use_floating_ips=True

# The suffix of the node's FQDN. In nova-network that is
# dhcp_domain config parameter (string value)
#node_domain=novalocal

# Use Neutron or Nova Network (boolean value)
#use_neutron=false

# List of plugins to be loaded. Savanna preserves the order of
# the list when returning it. (list value)
plugins=vanilla,hdp


[plugin:vanilla]
plugin_class=savanna.plugins.vanilla.plugin:VanillaProvider


[plugin:hdp]
plugin_class=savanna.plugins.hdp.ambariplugin:AmbariPlugin


[database]

# URL for sqlalchemy database (string value)
connection=sqlite:////tmp/savanna-server.db
