[DEFAULT]

# REST API config
#port=8080
#allow_cluster_ops=false

# Address and credentials that will be used to check auth tokens
#os_auth_host=openstack
#os_auth_port=35357
#os_admin_username=admin
#os_admin_password=nova
#os_admin_tenant_name=admin

# Nova network name that will be used to access VMs
#nova_internal_net_name=novanetwork

# (Optional) Name of log file to output to. If not set,
# logging will go to stdout. (string value)
#log_file=<None>

[cluster_node]

# An existing user on Hadoop image (string value)
#username=root

# User's password (string value)
#password=swordfish

[sqlalchemy]

# URL for sqlalchemy database (string value)
#database_uri=sqlite:////tmp/savanna-server.db
